* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Amazon Ember",Arial,sans-serif;
}

.cards__mobile{
    background:  #dcd9d9a6;
    margin-bottom: 5px;
}

.card__img{
    width: 320px;
    height: 50px;
    object-fit: cover;
}

.card__mobile1{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    background:  white;
    width: 320px;
    height: 418px;
    padding: 10px;
    margin-bottom: 2px;
}

.card__mobiletitle1{
    font-size: 17px;
    width: 290px;
    height: 23.39px;
    margin-bottom: 5px;
    margin-top: 2.7px;
    line-height: 1.4;
}

.card__img1{
    border-radius: 5px;
    width: 141px;
    height: 141px;
}

.card__mobilep{
    width: 141px;
    height: 19.50px;
    font-size: 15px;
    margin-bottom: 5px;
}

.cards__card-link{
    color: #007185;
    text-decoration: none;
    font-size: 15px;
    width: 290px;
    height: 19.50px;
    margin-top: 8px;
}

.card__mobile2{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    background:  white;
    width: 320px;
    height: 377px;
    padding: 10px;
    margin-bottom: 2px;
}

.card__mobiletitle2{
    font-size: 17px;
    width: 290px;
    height: 23.39px;
    margin-bottom: 5px;
    margin-top: 4px;
}

.card__img2{
    border-radius: 4px;
    margin-bottom: 6px;
    padding: 8px;
    width: 91.33px;
    height: 91.33px;
}

.card__mobile3{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    background:  white;
    width: 320px;
    height: 372px;
    padding: 10px;
    margin-bottom: 2px;
}

.card__img3{
    width: 290px;
    height: 145px;
    margin-top: 35px;
    margin-bottom: 50px;
}

.card__container{
    display: flex;
    flex-direction: row;
    height: 24px;
    width: 290px;
}

.card__button{
    border: solid 1px #CC0C39;
    background-color: #CC0C39;
    color: white;
    width: 85px;
    font-size: 11px;
    border-radius:2px;
    padding: 2px;
}

.card__p{
    color: #CC0C39;
    font-size: 11px;
    font-weight: 600;
    margin-left: 6px;
    margin-top: 5px;
}

.card__mobilep3{
    font-size: 14.5px;
    width: 290px;
    height: 19px;
    margin-bottom: 2px;
}

.card__img23{
    margin-top: 3px;
    margin-bottom: 2px;
    width: 320px;
    height: 150px;
    object-fit: cover;
}

.card__mobile5{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    background:  white;
    width: 320px;
    height: 379px;
    padding: 10px;
    margin-bottom: 2px;
}

.card__mobiletitle5{
    font-size: 17px;
    width: 290px;
    height: 24px;
    margin-top: 6px;
}

.card__img5{
    margin-top: 10px;
    border-radius: 4px;
    width: 126px;
    height: 126px; 
    margin-bottom: 7px;
    object-fit:scale-down;
}

.card__mobile6{
    display: flex;
    flex-direction: column;
    background:  white;
    width: 320px;
    height: 290px;
    padding: 15px;
    margin-bottom: 2px;
}

.card__mobiletitle6{
    font-size: 17px;
    width: 290px;
    margin-bottom: 5px;
}

.card__img6{
    margin-top: 4px;
    border-radius: 4px;
    width: 290px;
    height: 232px; 
    margin-bottom: 7px;
}

.card__mobile7{
    display: flex;
    flex-direction: column;
    background:  white;
    width: 320px;
    height: 313px;
    padding: 15px;
    margin-bottom: 2px;
}

.card__mobiletitle7{
    font-size: 17px;
    width: 270px;
    height: 48px;
    line-height: 1.3;
    margin-bottom: 4.5px;
}

.card__mobile8{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background:  white;
    width: 320px;
    height: 334px;
    padding: 15px;
    margin-bottom: 2px;
}

.card__mobiletitle8{
    font-size: 17px;
    width: 290px;
    height: 42px;
    line-height: 1.3;
}

.card__img8{
    border-radius: 4px;
    width: 68px;
    height: 68px; 
    margin-right: 17px;
    object-fit:scale-down;
}

.card__mobilep8{
    width: 203px;
    height: 60px;
    font-size: 14.6px;
}

.card__mobilep8 span {
    font-size: 17px;
}

.card__mobilep8 sup {
    font-size: 10px;
    color: #565959;
}

h1{
   display: inline-block;
   position: relative;
   font-size: 12.5px;
   height: 16px;
   margin-left: 53px;
   color: #727171;
}

h1::after, h1::before {
    content: '';
    position: absolute;
    width: 320px;
    height: 0.5px;
    background-color:#727171;
    top: 0.6em;
}

h1::before{
    left:-325px;
}

h1::after{
    right: -325px;
}

.card__mobile9{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    background:  white;
    width: 320px;
    height: 320px;
    padding: 10px;
    margin-bottom: 2px;
}

.card__img9{
    border-radius: 5px;
    width: 141px;
    height: 53px;
}

















.cards{
    display: none;
}


@media (min-width: 1239px) {
    .cards__mobile{
       display: none;
    }
    .cards{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        background:  #ccc;
    }
    .card {
        background: white;
        margin: 4px;
        border: 1px solid #ccc;
        display: flex;
        flex-direction: column;
        width: 295px;
        height: 420px;
    }
    .cards__card-title{
        font-size: 21px;
        margin-top: 20px; 
        margin-left: 20px;  
        margin-bottom: 10px;
        width: 255px;
    }
    .cards__card-img1 {
        height: 280px;
        margin-left: 20px;
        margin-right: 20px;   
        object-fit: cover;
    }
    .cards__card-link{
        color: #007185;
        text-decoration: none;
        margin: 20px;
        font-size: 12px;  
    }
    .cards__card-img2 {
        height: 305px;
        margin-left: 20px;
        margin-right: 20px; 
        object-fit: cover;
    }
    .cards__card-img3 {
        height: 305px;
        margin-left: 20px;
        margin-right: 20px; 
        object-fit: cover;
    }
    .cards__card-img4 {
        height: 305px;
        margin-left: 20px;
        margin-right: 20px; 
        object-fit: cover;
    }
    .cards__card-img5 {
        height: 280px;
        margin-left: 20px;
        margin-right: 20px; 
        object-fit: cover;
    }
    .cards__card-img6 {
        height: 305px;
        margin-left: 20px;
        margin-right: 20px;
        object-fit: cover; 
    }
    .cards__card-img7 {
        height: 305px;
        margin-left: 20px;
        margin-right: 20px; 
        object-fit: cover;
    }
    .cards__card-img7 {
        height: 305px;
        margin-left: 20px;
        margin-right: 20px; 
        object-fit: cover;
    }
    .cards__card-img8 {
        height: 305px;
        margin-left: 20px;
        margin-right: 20px; 
        object-fit: cover;
    }
    .cards__card-title9{
        font-size: 12px;
        margin-left: 30px;
    }
    
    .cards__card-title10{
        font-size: 12px;
        margin-left: 34px; 
    }
    .cards__card-img10{
        height: 305px;
        margin-left: 20px;
        margin-right: 20px; 
        object-fit: cover;
    }
    .cards__card-img11{
        height: 305px;
        margin-left: 20px;
        margin-right: 20px;
        object-fit: cover; 
    }
    .cards__card-container{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        height: 305px;
    }
    .cards__card-img12{
        height: 108px;
        width: 120px;
        margin-left: 20px;
        object-fit: cover;
    }
    .cards__card-title1{
        font-size: 12px;
        margin-left: 20px; 
        margin-bottom: 26px;
    }
    .cards__card-title2{
        font-size: 12px;
        margin-left: 110px; 
    }
     .cards__card-title3{
        font-size: 12px;
        margin-left: 68px; 
    }
    .cards__card-title4{
        font-size: 21px;
        margin-left: 20px;
        margin-top: 20px; 
        margin-bottom: 10px;
    }
    
    .cards__card-title5{
        font-size: 12px;
        margin-left: 46px; 
    }
    
    .cards__card-title6{
        font-size: 12px;
        margin-left: 38px; 
    }
    
    /*<!-- Quarta -->*/
    .cards__card-title7{
        font-size: 12px;
        margin-left: 103px; 
    }
    
    .cards__card-title8{
        font-size: 12px;
        margin-left: 69px; 
    }
}
